#info {
  font-size: 3.5em;
}
#info {
  text-align: center;
}

.h6 {
  color: #0070c0;
  font-weight: 900;
}

em {
  font-weight: 500;
}
body {
  color: #414042;
}
span {
  font-weight: 150;
}
a:visited {
  color: violet;
}
#data-cn {
  font-weight: 500;
  font-style: italic;
}
